
    {% for vb in societe %}

    {% if loop.first %}

&nbsp;&nbsp;<h4 style="text-align: right"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  الجمهورية التونسية</h4>

          <h4 style="text-align: right; font-size:18px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     {{ vb.ministere }}</h4>
        <h4 style="text-align: right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    {{ vb.siege }}</h4>
        <h4 style="text-align: right">    {{ vb.nomSoc }}</h4>


    {% endif %}
    {% endfor %}


