
<!-- Footer -->
	<div class="col-md-12">
		<div class="panel" align="center">

				&copy; 2020. <a href="#">Société DIP</a> 
				{# by <a href="#" target="_blank">Rahal Rajah</a> #}

		</div>
	</div>
<!-- /footer -->
